lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-project

.ds_store

pids
logs
results

npm-debug.log
node_modules
web/public/js/components
web/src/public/js/components
web/build/public/js/components