<!doctype html>
<html ng-app="App">
<head>
	<meta charset="utf-8">
	<title>PocumentApp</title>
	<!-- compiled JS -->
	<% scripts.forEach(function(file) {%>
	<script type="text/javascript" src="<%= file %>"></script><% }); %>
	<% stylesheets.forEach(function(file) {%>
	<link rel="stylesheet" href="<%= file %>">
	<% }); %>
</head>
<body ui-view>
	
	<script>
		// Check for Zepto compatibility, if not compatible load jQuery.
		// TODO: figure out how the hell this is going to work when deployed as single concatenated file. Perhaps use thin RequireJS layer which will load external libs and then load app.js? -- Probably not. Fuck.
	  document.write('<script src=/js/components/foundation/js/vendor/'
	    + ('__proto__' in {} ? 'zepto' : 'jquery')
	    + '.js><\/script>');
	</script>
</body>
</html>
